body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    color: #f57c00;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 5px;
  }
  
  p {
    color: #333;
    font-size: 18px;
    line-height: 1.5;
  }

  
  .img-hhh {
    width: 300px;
  }